[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "==19.10b0"
tqdm = "*"
ipykernel = "*"
numpy = "*"
matplotlib = "*"
data-science-types = "*"
scipy = "*"
jupyter = "*"
pytest = "*"
sklearn = "*"
notebook = "*"
wheel = "*"
setuptools = "*"
jedi = "*"
nptyping = "*"

[requires]
python_version = "3.8"
